body {
    background-color: rgb(48, 54, 59);
}

#drums {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 100vh;
}

.key {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid rgb(214, 137, 49);
    color: rgb(211, 223, 53);
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.key kbd{
    color: white;
}